language: node_js
sudo: false
node_js:
  - stable
env:
  global:
    - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
install:
  - npm install --global npm
  - npm install --global yarn
  - npm install
